@model MVC.Models.RegisterViewModel

@{
    ViewBag.Title = "PrivateAccount";
}

<h2>PrivateAccount</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "control-label col-md-2" } })
        </div>
    </div>
</div>
