@model MVC.PresentationEntity.ThemePO

@{
    ViewBag.Title = "Details";
}

@section Scripts {
    @Scripts.Render("~/Scripts/UpdatePosts.js")
}
<div id="test">
    @{
        Html.RenderPartial("Posts", Model);
    }
</div>


@*
    <script>
        setInterval(function () {
            var id = @Model.ThemeId.ToString();
           $("#test").empty().load('/Theme/Posts/'+id);
     }, 15000);
    </script>
*@


@if (User.Identity.IsAuthenticated)
{
@Html.Partial("CreatePost", new MVC.Models.PostModel() { ThemeId = Model.ThemeId })
}

